<%- include("partials/header")%> <%- include("partials/nav")%>
<!--  -->
<h1>Forget Password</h1>
<form action="/user/forget-password" method="post">
    <input type="email" name="email" placeholder="example@john.doe" />
    <button>Get OTP</button>
</form>

<!--  -->
<%- include("partials/footer")%>
