<%- include("partials/header")%> <%- include("partials/nav")%>
<!--  -->
<h1>Forget Password</h1>
<form action="/user/forget-password/<%= id%>" method="post">
    <input type="number" name="otp" placeholder="O T P" />
    <button>Verify OTP</button>
</form>

<!--  -->
<%- include("partials/footer")%>
