<%- include("partials/header")%> <%- include("partials/nav")%>
<!--  -->
<h1>Forget Password</h1>
<form action="/user/set-password/<%= id%>" method="post">
    <input type="password" name="password" placeholder="********" />
    <button>Set Password</button>
</form>

<!--  -->
<%- include("partials/footer")%>
