<%- include("partials/header")%>
    <%- include("partials/nav")%>
    <%= message%> <button class="reload">X</button>
        <!--  -->
        <div">
            <h1 class="text-5xl">User Profile</h1>
            
            <div class="flex gap-x-10">
                <a class="text-blue-400" href="/user/signout">Signout</a>

                <a class="text-blue-400" href="/user/reset-password">Reset Password</a>

                <a class="text-blue-400" href="/user/delete-account">Delete Account</a>

                 <a class="text-blue-400" href="/user/update">Update User</a>
            </div>

        </div>

            <!--  -->
            <script>
                const reload = document.querySelector('.reload');
                reload.addEventListener('click', () => {
                    location.reload();
                    reload.style.display = 'none';
                });
            </script>
            <%- include("partials/footer")%>