<%- include("partials/header")%>
    <%- include("partials/nav")%>
        <!--  -->
        <div">
            <h1 class="text-5xl">User Profile</h1>
            <a class="text-blue-400" href="/user/signout">Signout</a>
            </div>

            <!--  -->
            <%- include("partials/footer")%>