<%- include("partials/header")%> <%- include("partials/nav")%>
<!--  -->
<h1>Reset Password</h1>
<form action="/user/reset-password" method="post">
    <input type="password" name="oldpassword" placeholder="********" />
    <input type="password" name="newpassword" placeholder="********" />
    <button>Reset Password</button>
</form>

<!--  -->
<%- include("partials/footer")%>
