<%- include("partials/header")%> <%- include("partials/nav")%>
<!--  -->
<h1>Signup User</h1>
<form action="/user/signup" method="post">
    <input type="text" name="username" placeholder="johndoe" />
    <input type="email" name="email" placeholder="john@doe.com" />
    <input type="password" name="password" placeholder="********" />
    <button>Signup User</button>
</form>

<!--  -->
<%- include("partials/footer")%>
